* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-text {
  background-color: blue;
  z-index: 3;
  height: auto;
  position: absolute;
  top: 10%;
  left: 2%;
  color: white;
}

.background-img {
  background-color: black;
  text-align: center;
  margin: 0 px;
  padding: 0 px;
  z-index: -5;
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#image {
  width: 1000px;
  height: auto;
  padding: 0 px;
  margin: 0 px;
  z-index: 1;
}

.navbar {
  text-align: left;
  background-color: #031838;
  z-index: 100;
  top: 0;
  position: sticky;
}

#intro {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #011229;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  border-style: solid;
  border-color: #011229;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  border-bottom-color: #010b1a;
  border-right-color: #010b1a;
}

ul li a:hover {
  background-color: #FFFFFF;
  color: black;
}

#image-board {
  background-color: #262729;
  height: 100%;
  margin: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imageboard {
  margin: 20px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  object-fit: cover; /* Crops the image to fit dimensions */
  object-position: center; /* Positions the crop focal point (Default is center) */
}

body {
  background-color: black;
}